:root {
  --tint-1: hsla(0, 0%, 100%, 0.1);
  --shade-8: hsla(0, 0%, 0%, .28);
  --shade-9: hsla(0, 0%, 0%, .19);
  --shade-10: hsla(0, 0%, 0%, 0.1);
  --shade-11: hsla(0, 0%, 0%, 0.035);
  --slate-gray-1: #1d1d22;
  --slate-gray-2: #313138;
  --slate-gray-3: #45444f;
  --slate-gray-6: #838292;
  --slate-gray-7: #9a9aa7;
  --slate-gray-8: #b2b1bb;
  --slate-gray-10: #e1e0e4;
  --slate-gray-11: #f8f8f9;
  --gray-1: rgb(23 23 23);
  --gray-2: #2f2f2f;
  --gray-3: #464646;
  --gray-8: #bababa;
  --gray-9: #d1d1d1;
  --gray-11: rgb(255 255 255);
  --blue-5: #1969db;
  --violet-4: #8424b3;
  --cyan-7: rgb(40, 214, 230);
  --cyan-10: rgb(180, 245, 249);
  --font-family-heading: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-family-body: "Bitter", serif;

  --background-color:           var(--gray-11);
  --text-color:                 var(--slate-gray-1);
  --text-dim:                   var(--slate-gray-3);
  --text-very-dim:              var(--slate-gray-6);
  --bold-color:                 var(--slate-gray-2);
  --link-color:                 var(--blue-5);
  --code-background-color:      var(--slate-gray-10);
  --blockquote-border-color:    var(--violet-4);
  --blockquote-color:           var(--slate-gray-2);
  --hr-border-color:            var(--gray-8);
  --card-border-color:          var(--gray-9);
  --card-bg-hover:              var(--shade-11);
  --border-dim:                 var(--shade-10);
  --width:                      66ch;
  --grid-columns:               1fr 1fr;
  --grid-header-width:          20rem;
  --grid-header-padding:        5rem;
  --footer-bg:                  var(--slate-gray-11);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color:         var(--gray-1);
    --text-color:               var(--slate-gray-7);
    --text-dim:                 var(--slate-gray-6);
    --text-very-dim:            var(--shade-9);
    --bold-color:               var(--slate-gray-8);
    --link-color:               var(--cyan-7);
    --link-color-hover:         var(--cyan-10);
    --code-background-color:    var(--gray-3);
    --hr-border-color:          var(--gray-2);
    --blockquote-color:         var(--slate-gray-10);
    --blockquote-border-color:  var(--violet-4);
    --card-border-color:        var(--shade-9);
    --card-bg-hover:            var(--shade-10);
    --border-dim:               var(--tint-1);
    --footer-bg:                var(--shade-8);
  }
}

body {
  font-family: var(--font-family-body);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-align: left;
  hyphens: auto;
  background-color: var(--background-color);
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.6;
  color: var(--text-color);
  height: 100dvh;
  margin: 0;
}

main {
  padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  font-family: var(--font-family-heading);
}

h1, h2, h3, h4, h5, h6, strong, b {
  font-weight: 600;
  letter-spacing: 0.03em;
  color: var(--bold-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

section a {
  text-decoration: underline;
  text-underline-offset: 1px;
}

a:hover {
  color: var(--link-color-hover);
  text-decoration: underline;
  text-underline-offset: 1px;
}

p {
  text-wrap: pretty;
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

content {
  line-height: 1.6;
}

table {
  width: 100%;
  width: fit-content;
  border-spacing: 0;
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid var(--hr-border-color);
  padding: 0.25rem 0.5rem;
}

table th {
  font-size: 0.875rem;
}

img {
  max-width: 100%;
  height: auto;
}

code {
  padding: 2px 5px;
  background-color: var(--code-background-color);
}

pre {
  padding: 1rem;
}

pre > code {
  all: unset;
}

blockquote {
  border-left: 2px solid var(--blockquote-border-color);
  color: var(--blockquote-color);
  padding-left: 1.875rem;
  margin-inline-start: 0;
  margin-inline-end: 1.875rem;
  line-height: 1.875;
  font-size: 1.125rem;
}

hr {
  border-top: 1px solid var(--hr-border-color);
  border-color: var(--hr-border-color);
  margin: 1rem 0;
}

article ul > li {
  margin-bottom: 0.25rem;
}

li > p {
  color: var(--text-dim);
  transition: color 200ms;
}

li:hover > p {
  color: var(--text-color);
}

li > p:only-child {
  margin-block: 0;
}

figure {
  width: 100%;
  margin-left: 0;
}

figure img {
  display: block;
  margin: 1rem auto;
}

figcaption {
  font-size: 0.75em;
}

/* Page Layout */

section {
  display: grid;
  grid-template-columns: var(--grid-columns);

  &:last-of-type {
    border-bottom: 1px solid var(--border-dim);
  }
}

section > header {
  border-right: 1px solid var(--border-dim);
  width: var(--grid-header-width);
  padding: var(--grid-header-padding);
  justify-self: end;
  transition: width,border,padding-top 0.2s ease-in-out;
  transition-behavior: allow-discrete;

  & h1,h2 {
    font-size: 1rem;
    margin: 1rem 0 0;
  }

  & p {
    margin: 0;
    color: #666;
    font-size: 0.825rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
  }
}

section > div, section > article {
  padding: 5rem;
  max-width: 66ch;
}

@media screen and (max-width: 1440px) {
  :root {
    --grid-columns: 40% 1fr;
  }
}

@media screen and (max-width: 1168px) {
  :root {
    --grid-columns: 30% 1fr;
    --grid-header-width: calc(100% - 4rem);
    --grid-header-padding: 5rem 2rem;
  }
}

@media screen and (max-width: 796px) {
  :root {
    --grid-columns: 1fr;
    --grid-header-padding: 2rem;
  }

  section {
    border-left: 1px solid var(--border-dim);
    margin-left: 2rem;
  }

  section > header {
    border-right: none;
    border-color: transparent;
    justify-self: start;
  }

  section > div, section > article {
    padding: 0 2rem 2rem;
  }
}

/* Fuck it, some DIY tailwind. */
.text-sm {
  font-size: 0.875rem;
}
.text-xs {
  font-size: 0.75rem;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-grow {
  flex-grow: 1;
}
.gap-1 {
  gap: 0.5rem;
}
.gap-2 {
  gap: 1rem;
}
.pt-2 {
  padding-top: 0.5rem;
}
.pt-4 {
  padding-top: 1rem;
}
.pt-8 {
  padding-top: 2rem;
}
.shrink-0 {
  flex-shrink: 0;
}
.w-1\/2 {
  width: 50%;
}
.w-prose {
  max-width: var(--width);
  margin: auto;
}
.w-full {
  width: 100%;
}
.sticky {
  position: sticky;
}
.top-1 {
  top: 0.5rem;
}
.items-center {
  align-items: center;
}
.text-dim {
  color: var(--text-dim);
}
.text-very-dim {
  color: var(--text-very-dim);
}

@media screen and (min-width: 768px) {
  .md\:flex-row {
    flex-direction: row;
  }
  .md\.w-1\/2 {
    width: 50%;
  }
}

#table-of-contents {
  display: none;
}

#table-of-contents + ul {
  position: sticky;
  top: 1rem;
  transform: translateX(-200%);
  width: 15rem;
  font-size: 0.875rem;
  padding: 0;
  list-style: none;
}

#table-of-contents + ul:before {
  content: "On this page";
  color: var(--text-dim);
  font-style: italic;
  position: relative;
  top: -0.5rem;
}

#table-of-contents + ul li > p {
  margin: 0;
}

#table-of-contents + ul > li > ul {
  padding-left: 1.5rem;
}

@media (max-width: 1168px) or (max-height: 600px) {
  #table-of-contents {
    display: block;
  }
  #table-of-contents + ul {
    position: static;
    width: auto;
    transform: none;
  }
  #table-of-contents + ul:before {
    content: "";
    display: none;
  }
}

nav.categories a:visited {
  color: rgb(153, 119, 197);
}
