/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --background-color: #fff;
  --text-color: #444;
  --text-dim: rgb(127 124 127);
  --bold-color: #222;
  --link-color: #3273dc;
  --code-background-color: #f2f2f2;
  --blockquote-border-color: mediumorchid;
  --blockquote-color: #222;
  --hr-border-color: #ddd;
  --card-border-color: #999;
  --card-bg-hover: rgb(127 124 127 / 5%);
  --lightest-text-color: rgb(127 124 127 / 50%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #222;
    --text-color: #a5aebb;
    --text-dim: rgb(181 180 181);
    --bold-color: rgb(36, 121, 129);
    --link-color: rgb(40, 214, 230);
    --link-color-hover: rgb(180, 245, 249);
    --code-background-color: #444;
    --hr-border-color: #444;
    --blockquote-color: #a7acc1;
    --blockquote-border-color: mediumorchid;
    --card-border-color: rgb(255 255 255 / 20%);
    --card-bg-hover: rgb(255 255 255 / 5%);
    --lightest-text-color: rgb(255 255 255 / 18%);
  }
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  padding: 1rem;
  text-align: left;
  background-color: var(--background-color);
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.6;
  color: var(--text-color);
  height: calc(100dvh - 2rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-weight: 600;
  letter-spacing: 0.03em;
  color: var(--bold-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-color-hover);
  text-decoration: underline;
  text-underline-offset: 1px;
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

content {
  line-height: 1.6;
}

table {
  width: 100%;
  width: fit-content;
  border-spacing: 0;
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid var(--hr-border-color);
  padding: 0.25rem 0.5rem;
}

table th {
  font-size: 0.875rem;
}

img {
  max-width: 100%;
  height: auto;
}

code {
  padding: 2px 5px;
  background-color: var(--code-background-color);
}

pre {
  padding: 1rem;
}

pre > code {
  all: unset;
}

blockquote {
  border-left: 2px solid var(--blockquote-border-color);
  color: var(--blockquote-color);
  padding-left: 1.875rem;
  margin-inline-start: 0;
  margin-inline-end: 1.875rem;
  line-height: 1.875;
  font-size: 1.125rem;
}

hr {
  border-top: 1px solid var(--hr-border-color);
  border-color: var(--hr-border-color);
  margin: 1rem 0;
}

li > p {
  color: var(--text-dim);
  transition: color 200ms;
}
li:hover > p {
  color: var(--text-color);
}
figure {
  width: 100%;
  margin-left: 0;
}
figcaption {
  font-size: 0.75em;
}

/* Fuck it, DIY tailwind. */
.text-sm {
  font-size: 0.875rem;
}
.text-xs {
  font-size: 0.75rem;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.gap-1 {
  gap: 0.5rem;
}
.pt-2 {
  padding-top: 0.5rem;
}
.pt-8 {
  padding-top: 2rem;
}
.shrink-0 {
  flex-shrink: 0;
}
.w-1\/2 {
  width: 50%;
}
.w-prose {
  max-width: 65ch;
  margin: auto;
}

a.tHeNeT {
  text-decoration: none;
  color: var(--lightest-text-color);
  font-size: 12px;
  position: fixed;
  bottom: 0.25rem;
  right: 0.5rem;
}

@media screen and (min-width: 768px) {
  .md\:flex-row {
    flex-direction: row;
  }
  .md\.w-1\/2 {
    width: 50%;
  }
}