---
import { getCollection } from "astro:content"
import getAllCategories from "../../../utils/get-all-categories";
import WikiEntryLayout from "../../../layouts/WikiEntry.astro";
import kebabCase from "just-kebab-case"
const { id } = Astro.params;

if (id === undefined) {
  throw new Error("Slug is required");
}

const entries = await getCollection("wiki", ({ data, ...rest }) => {
  return data.categories.find((category) => kebabCase(category) === id)
})

const { map } = getAllCategories(entries)

const title = map.get(id)?.label ?? id

---

<WikiEntryLayout content={{ title }}>
  <ul>
    {entries.map(({ data, slug }) => (
      <li><a href={`/wiki/${slug}`} title={data.title}>{data.title}</a></li>
    ))}
  </ul>
</WikiEntryLayout>