---
import { getCollection } from "astro:content"
import getAllCategories from "../../../utils/get-all-categories";
import kebabCase from "just-kebab-case"
import WikiCardList from "../../../components/WikiCardList.astro";
import BaseHead from "../../../components/BaseHead.astro";
import Footer from "../../../components/Footer.astro";
import Header from "../../../components/Header.astro";
import WikiCategoryList from "../../../components/WikiCategoryList.astro";
const { id } = Astro.params;

if (id === undefined) {
  throw new Error("Slug is required");
}

const entries = await getCollection("wiki", ({ data }) => {
  return data.categories.find((category) => kebabCase(category) === id)
})

const { map } = getAllCategories(entries)
const title = map.get(id)?.label ?? id
---

<html lang="en">
  <head>
    <BaseHead title={title} description={`Wiki Category: ${title}`} />
  </head>

  <body>
    <Header label="wiki" />

    <WikiCardList entries={entries} map={map} />

    <WikiCategoryList />

    <Footer />
  </body>
</html>

