---
import type { WikiCategory } from "~/types/wiki";

export interface Props {
	categories: string[];
	map: Map<string, WikiCategory>;
}

const { categories, map } = Astro.props;
---

{
  categories?.map((category) => (
    <a href={`/wiki/category/${map.get(category)?.path}`} title={`Category: ${category}`}>
      {category}
    </a>
  ))
}
{categories?.length === 0 && <span>Uncategorized</span>}

<style>
  a,
  span {
    text-decoration: none;
    color: var(--text-dim);
    font-family: var(--font-family-heading);
  }

  a:hover {
    color: var(--text-color);
  }
</style>
