---
import CategoryChildren from './CategoryChildren.astro';
import type { WikiCategory } from '../types/wiki';

export interface Props {
  categories: string[]
  map: Map<string, WikiCategory>
}

const { categories, map } = Astro.props
---

{categories?.map((category) => (
  <a href={`/wiki/category/${map.get(category)?.path}`} title={`Category: ${category}`}>{category}</a>
))}
