---
---

<footer>
	<a href="/">Sam Breed</a> &middot;
	<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> <br>
	<span aria-hidden="true">silica gel &middot; do not eat</span>
</footer>
<style>
	footer {
		color: var(--text-color);
		opacity: 0.8;
		padding: 25px;
		text-align: center;
		font-size: 0.8em;
		margin-top: auto;
	}

	footer a {
		color: var(--text-color);
	}

	footer span {
		opacity: 0.3;
		text-transform: uppercase;
		pointer-events: none;
	}
</style>
