---
const today = new Date();
---

<footer>
	<a href="/">Sam Breed</a> &middot;
	<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> <br>
	<span>silica gel &middot; do not eat</span>
</footer>
<style>
	footer {
		color: #999;
		padding: 25px;
		text-align: center;
		font-size: 0.8em;
	}

	footer a {
		color: #999;
	}

	footer span {
		opacity: 0.2;
		text-transform: uppercase;
		pointer-events: none;
	}
</style>
