---
const today = new Date();
---

<footer>
	<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
</footer>
<style>
	footer {
		color: #999;
		padding: 25px;
		text-align: center;
		font-size: 0.8em;
	}

	footer a {
		color: #999;
	}
</style>
