---
import ThemeToggle from "./ThemeToggle.astro";
---

<footer>
	<nav>
		<p>
			<a href="/" title="Sam Breed's personal website">Sam Breed</a> &middot;
			<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
		</p>
		<ThemeToggle />
	</nav>
	<div>
		<p aria-hidden="true">silica gel &middot; do not eat</p>
	</div>
</footer>

<style>
	footer {
		display: grid;
		grid-template-columns: var(--grid-columns);
		/* grid-template-columns: 1fr 1fr; */
		/* background: linear-gradient(to bottom in oklch, oklch(0% 0 0 / 0.0) 0%, oklch(0% 0 0 / 0.28) 100%); */
		background: linear-gradient(to bottom in oklch, oklch(0 0 0 / 0), oklch(0.39 0.09 231.26 / 0.27));
		color: var(--text-color);
	}

	nav {
		font-family: var(--font-family-heading);
		width: var(--grid-header-width);
		padding: var(--grid-header-padding);
		font-size: 0.8em;
		margin-top: auto;
		justify-self: end;
		display: flex;
		flex-wrap: wrap;
		gap: 0 1rem;
		align-items: center;

		& a {
			color: var(--text-dim);
		}
	}

	footer > div {
		font-family: var(--font-family-heading);
		width: var(--grid-header-width);
		padding: var(--grid-header-padding) 0;
		margin-left: auto;
		justify-self: end;
		font-size: 0.8em;
		opacity: 0.3;
		font-variant: small-caps;
		pointer-events: none;
		text-align: right;
		padding-right: 2rem;
	}

	@media screen and (max-width: 1440px) {
		nav {
			justify-self: start;
		}
	}

	@media screen and (max-width: 796px) {
		footer {
			display: flex;
		}

		nav a:nth-of-type(2) {
			font-size: 0.5rem;
		}
	}
</style>
