---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header>
	<h2>
		<a href="/">Sam Breed's</a> modest personal website.
	</h2>
</header>
<style>
	header h2 {
		color: var(--text-dim);
		font-size: 1rem;
		line-height: 1.6;
		font-weight: normal;
	}

	@media (min-width: 1180px) {
		header {
			position: fixed;
			top: 1.2rem;
			left: 1rem;
		}
	}
</style>
