---
export interface Props {
	label?: string;
}

const { label = "website" } = Astro.props;
---

<section>
  <header>
    <h1>
      <a href="/">Sam Breed</a>
    </h1>
    <p>Product Developer, Investor</p>
  </header>
</section>

<style>
  a {
    text-decoration: none;
    color: var(--color-text);
    transition: color 0.2s ease-in-out;

    &:hover {
      color: var(--text-dim);
    }
  }
</style>
