---
import { getCollection } from "astro:content";
import getAllCategories from "../utils/get-all-categories";
import Category from "./Category.astro";
import Icon from "./Icon.astro";

const wikiEntries = await getCollection("wiki");
const { tree } = getAllCategories(wikiEntries);

---
<section>
  <header>
    <h2>Categories</h2>
  </header>
  <div>
    <ul class="pt-4 categories">
      {tree.map((category) => <Category value={category} />)}
      <li class="flex items-center gap-1 pt-8">
        <Icon name="bulleted-list"/>
        <a href={`/wiki`} title={`Index`}>Index</a>
      </li>
      <li class="flex items-center gap-1 pt-2">
        <Icon name="info"/>
        <a href={`/wiki/about`} title={`About`}>About</a>
      </li>
    </ul>
  </div>
</section>
<style is:global>
  .categories a {
    color: var(--color-text);
    font-family: var(--font-family-heading);
    text-decoration: none;
    &:hover {
      color: var(--link-color);
      border-bottom: 1px solid;
    }
  }
  .categories {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
  }
</style>