---
export interface Props {
	action?: string;
	value?: string;
	placeholder?: string;
}

const { action = "/search", value, placeholder = "Search" } = Astro.props;
---
<form action={action} class="search">
  <input
    type="search"
    autocomplete="off"
    autocapitalize="off"
    autocorrect="off"
    placeholder={placeholder}
    name="q"
    value={value ?? ""}
  />
  <button>Go</button>
</form>
