---
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import WikiCardList from "../../components/WikiCardList.astro";
import WikiCategoryList from "../../components/WikiCategoryList.astro";
import SearchForm from "../../components/search/SearchForm.astro";
import getAllCategories from '../../utils/get-all-categories';
import { getCollection } from "astro:content";

const wikiEntries = await getCollection('wiki')
const { map } = getAllCategories(wikiEntries)
---

<html lang="en">
  <head>
    <BaseHead title="Wiki" description="Wiki Categories" />
  </head>

  <body>
    <Header label="wiki" />

    <WikiCardList map={map} entries={wikiEntries} />

    <WikiCategoryList />

    <Footer />
  </body>
</html>