---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

export interface Props {
	content: {
		title: string;
	};
}

const {
	content: { title },
} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title="Samuel Breed Resume" description="" />
	</head>

	<body>
		<Header />
		<section>
			<header>
				<h1>{title}</h1>
			</header>
			<article class="w-prose">
				<slot />
			</article>
		</section>
		<Footer />
	</body>
</html>
